{
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "import"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "ENV": true
  }
}
