{
  "extends": ["airbnb-base"],
  "plugins": [
    "import"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "ENV": true
  },
  "rules": {
    "quotes": [2, "single"],
    "max-len": 0,
    "no-param-reassign": [2, { "props": false }],
    "arrow-parens": [2, "always"],
    "no-restricted-properties": [0, { "object": "Math", "property": "pow" }],
    "arrow-body-style": 0,
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }]
  }
}
