<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      html,
      body {
        height: 100%;
        min-height: 100%;
      }

      html {
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
      }

      body {
        margin: 0;
        padding: 0;
        font-size: 1rem;
      }
    </style>
  </head>
  <body>
    <p id="js-example-1"
         data-autotyper='{ "autoStart": 2000 }'
         data-autotyper-interval="[50, 500]"
         data-autotyper-text='"This is some text being typed out automatically!"'>
      This also acts as the no-JavaScript fallback.
    </p>

    <p id="js-example-2"
       data-autotyper-interval="200"
       data-autotyper-loop-interval="2000">
      Looping example.
    </p>

    <p id="js-example-3">This example passes a function for `interval`.</p>

    <script src="<%= htmlWebpackPlugin.options.name %>.js"></script>
    <script data-id="example-1">
      (function () {
        const example = Object.create(autotyper);

        example.init(document.getElementById('js-example-1'));

        example.on('start', () => console.log('It started!'));
      }());
    </script>

    <script data-id="example-2">
      (function () {
        const example = Object.create(autotyper);

        example.init(document.getElementById('js-example-2'), { loop: true });

        example.on('loop', (loopCount) => console.log('loopCount: ', loopCount));
      }());
    </script>

    <script data-id="example-3">
      (function () {
        const example = Object.create(autotyper);
        const element = document.getElementById('js-example-3');
        const text = element.innerHTML;

        example.init(element, {
          interval: () => {
            const duration = 500;

            return duration / text.length;
          },
        });
      }());
    </script>
  </body>
</html>
