<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      html,
      body {
        height: 100%;
        min-height: 100%;
      }

      html {
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
      }

      body {
        margin: 0;
        padding: 0;
        font-size: 1rem;
      }
    </style>
  </head>
  <body>
    <p id="js-example-1"
         data-autotyper-options='{ "autoStart": 2000 }'
         data-autotyper-interval="[50, 500]"
         data-autotyper-text='"This is some text being typed out automatically!"'>
      This also acts as the no-JavaScript fallback.
    </p>

    <p id="js-example-2"
       data-autotyper-interval="200"
       data-autotyper-loop-interval="2000">
      Looping example.
    </p>

    <p id="js-example-3">This example passes a function for `interval`.</p>

    <p class="js-example-5" data-autotyper-auto-start="false"></p>
    <p class="js-example-5" data-autotyper-auto-start="false"></p>

    <% htmlWebpackPlugin.options.packageNames.forEach((packageName) => { %>
      <script src="<%= packageName %>.js"></script>
    <% }) %>

    <script data-id="example-1">
      (function () {
        const example = Object.create(autotyper);

        example.init(document.getElementById('js-example-1'));

        example.on('start', () => console.log('It started!'));
      }());
    </script>

    <script data-id="example-2">
      (function () {
        const example = Object.create(autotyper);

        example.init(document.getElementById('js-example-2'), { loop: 1 });

        example.on('loop', (loopCount) => console.log('loopCount: ', loopCount));
      }());
    </script>

    <script data-id="example-3">
      (function () {
        const example = Object.create(autotyper);
        const element = document.getElementById('js-example-3');
        const text = element.innerHTML;

        example.init(element, {
          interval: () => {
            const duration = 500;

            return duration / text.length;
          },
        });
      }());
    </script>

    <script data-id="example-4">
      (function () {
        const example = Object.create(autotyper);

        example.on('type', () => console.log(example.text));

        example.init();
      }());
    </script>

    <script data-id="example-5">
      // jQuery Plugin
      (function ($) {
        $('.js-example-5').autotyper({
          text: 'This is the jQuery Plugin in action!',
          interval: [50, 100],
        });

        $('.js-example-5').on('autotyper:start', function () {
          const example = $(this).data('autotyper');

          console.log('jQuery instance started!', example);
        });

        $('.js-example-5').on('autotyper:type', function (e, text) {
          console.log('jQuery instance is typing!', text);
        });

        $('.js-example-5').on('autotyper:destroy', () => console.log('jQuery instance destroyed!'));

        setTimeout(() => $('.js-example-5').autotyper('start'), 1000);

        setTimeout(() => $('.js-example-5').autotyper('destroy'), 2000);
      }(window.$ || window.jQuery));
    </script>

    <script>
      console.log($.autotyper);
    </script>
  </body>
</html>
